body {
    background-color: #1F2937;
    color: white;
    font-family: "Roboto", sans-serif;
}

img {
    height: 500px;
    width: 700px;
}

header {
    display: flex;
    justify-content: space-between;
}

a {
    font-size: 16px;
    color: #f9faf8;
    text-decoration: none;
    padding: 8px;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}